//colors

$neutral		:	#D7CEC7;
$navy-blue		:	#30415D;
$light-blue		:	#8EAEBD;
$black			:	black;

//paths

$path-font		:	'https://fonts.googleapis.com/css?family=';

//media queries

$break-phone	:	'(max-width: 400px)';